body {
	color: white;
	background-color: black;
}
a:hover {
	color: grey;
}
#header {
	position: absolute;
	width: 100%;
	height: 16em;
	background-color: #404040;
}
.foobar::after:checked {
	transition: opacity .25s ease-in-out;
}
h1#title, h2#subtitle {
	font-family: monospace;
}
@charset "utf-8";
